
Cadastro-de-Alunos/.vs/Cadastro-de-Alunos/DesignTimeBuild/.dtbcache.v2
*.vsidx
*.nupkg
*.json
Cadastro-de-Alunos/Cadastro-de-Alunos/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Abstractions.dll
*.dll
Cadastro-de-Alunos/.vs/Cadastro-de-Alunos/v17/.futdcache.v2
Cadastro-de-Alunos/.vs/Cadastro-de-Alunos/v17/.suo
*.bin
*.exe
*.pdb
Cadastro-de-Alunos/Cadastro-de-Alunos/Cadastro-de-Alunos.csproj
*.targets
*.props
*.nuspec
*.cache
*.Up2Date
Cadastro-de-Alunos/Cadastro-de-Alunos/obj/Debug/net8.0/Cadastro-de-Alunos.AssemblyInfo.cs
Cadastro-de-Alunos/Cadastro-de-Alunos/obj/Debug/net8.0/Cadastro-de-Alunos.csproj.BuildWithSkipAnalyzers
Cadastro-de-Alunos/Cadastro-de-Alunos/obj/Debug/net8.0/Cadastro-de-Alunos.csproj.FileListAbsolute.txt
Cadastro-de-Alunos/Cadastro-de-Alunos/obj/Debug/net8.0/Cadastro-de-Alunos.GeneratedMSBuildEditorConfig.editorconfig
.vs/Cadastro-de-Alunos/v17/.wsuo
.vs/slnx.sqlite
Cadastro-de-Alunos/.vs/Cadastro-de-Alunos/config/applicationhost.config
Cadastro-de-Alunos/Cadastro-de-Alunos/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Cadastro-de-Alunos/Cadastro-de-Alunos/obj/Debug/net8.0/Cadastro-de-Alunos.GlobalUsings.g.cs
Cadastro-de-Alunos/Cadastro-de-Alunos/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Cadastro-de-Alunos/Cadastro-de-Alunos/obj/Release/net8.0/Cadastro-de-Alunos.AssemblyInfo.cs
Cadastro-de-Alunos/Cadastro-de-Alunos/obj/Release/net8.0/Cadastro-de-Alunos.GeneratedMSBuildEditorConfig.editorconfig
Cadastro-de-Alunos/Cadastro-de-Alunos/obj/Release/net8.0/Cadastro-de-Alunos.GlobalUsings.g.cs
