
Cadastro-de-Alunos/Cadastro-de-Alunos/obj/project.nuget.cache
Cadastro-de-Alunos/Cadastro-de-Alunos/obj/project.assets.json
Cadastro-de-Alunos/Cadastro-de-Alunos/obj/Debug/net8.0/Cadastro-de-Alunos.GeneratedMSBuildEditorConfig.editorconfig
Cadastro-de-Alunos/Cadastro-de-Alunos/obj/Debug/net8.0/Cadastro-de-Alunos.assets.cache
Cadastro-de-Alunos/Cadastro-de-Alunos/obj/Debug/net8.0/Cadastro-de-Alunos.AssemblyInfoInputs.cache
Cadastro-de-Alunos/Cadastro-de-Alunos/obj/Cadastro-de-Alunos.csproj.nuget.g.targets
Cadastro-de-Alunos/.vs/Cadastro-de-Alunos/DesignTimeBuild/.dtbcache.v2
Cadastro-de-Alunos/.vs/Cadastro-de-Alunos/FileContentIndex/7174ee6e-5112-4f94-ba85-715c00270f6d.vsidx
Cadastro-de-Alunos/.vs/Cadastro-de-Alunos/FileContentIndex/769b06a7-db00-4baa-8be9-ba1ae1181ed2.vsidx
Cadastro-de-Alunos/.vs/Cadastro-de-Alunos/FileContentIndex/f0cb1f20-5ad1-4fac-96b8-5cb3231b8d88.vsidx
Cadastro-de-Alunos/.vs/Cadastro-de-Alunos/FileContentIndex/f7615e32-fa7a-4d20-a1db-0d85d83e2cf1.vsidx
Cadastro-de-Alunos/.vs/Cadastro-de-Alunos/v17/.futdcache.v2
Cadastro-de-Alunos/.vs/Cadastro-de-Alunos/v17/.suo
Cadastro-de-Alunos/.vs/Cadastro-de-Alunos/v17/DocumentLayout.backup.json
Cadastro-de-Alunos/.vs/Cadastro-de-Alunos/v17/DocumentLayout.json
Cadastro-de-Alunos/.vs/ProjectEvaluation/cadastro-de-alunos.metadata.v9.bin
Cadastro-de-Alunos/.vs/ProjectEvaluation/cadastro-de-alunos.projects.v9.bin
Cadastro-de-Alunos/.vs/ProjectEvaluation/cadastro-de-alunos.strings.v9.bin
Cadastro-de-Alunos/Cadastro-de-Alunos/Cadastro-de-Alunos.csproj
Cadastro-de-Alunos/Cadastro-de-Alunos/obj/Cadastro-de-Alunos.csproj.nuget.dgspec.json
Cadastro-de-Alunos/Cadastro-de-Alunos/obj/Cadastro-de-Alunos.csproj.nuget.g.props
*.dll
*.json
*.vsidx
*.Up2Date
*.cache
Cadastro-de-Alunos/Cadastro-de-Alunos/bin/Debug/Cadastro-de-Alunos.1.0.0.nupkg
Cadastro-de-Alunos/Cadastro-de-Alunos/bin/Debug/net8.0/Cadastro-de-Alunos.exe
Cadastro-de-Alunos/Cadastro-de-Alunos/bin/Debug/net8.0/Cadastro-de-Alunos.pdb
Cadastro-de-Alunos/Cadastro-de-Alunos/obj/Debug/Cadastro-de-Alunos.1.0.0.nuspec
Cadastro-de-Alunos/Cadastro-de-Alunos/obj/Debug/net8.0/apphost.exe
Cadastro-de-Alunos/Cadastro-de-Alunos/obj/Debug/net8.0/Cadastro-de-Alunos.AssemblyInfo.cs
Cadastro-de-Alunos/Cadastro-de-Alunos/obj/Debug/net8.0/Cadastro-de-Alunos.csproj.BuildWithSkipAnalyzers
Cadastro-de-Alunos/Cadastro-de-Alunos/obj/Debug/net8.0/Cadastro-de-Alunos.csproj.FileListAbsolute.txt
Cadastro-de-Alunos/Cadastro-de-Alunos/obj/Debug/net8.0/Cadastro-de-Alunos.pdb
Cadastro-de-Alunos/Cadastro-de-Alunos/obj/Debug/net8.0/Cadastro-de-Alunos.AssemblyInfo.cs
Cadastro-de-Alunos/Cadastro-de-Alunos/obj/Debug/net8.0/Cadastro-de-Alunos.AssemblyInfo.cs
